$navbar-default-bg: #3E496F;
$navbar-default-border: $demo-bg-2;
$navbar-default-link-color: $demo-fg-1;
$navbar-default-link-active-color: #656FC1;
$navbar-default-link-active-bg: $demo-bg-2;
$navbar-default-link-hover-color: #B4B8D4;
$navbar-default-brand-hover-color: $navbar-default-link-hover-color;
$navbar-default-brand-color: $navbar-default-link-color;
