$demo-fg-1: #728FBD;
$demo-fg-2: #7F859E;
$demo-bg-1: #434D73;
$demo-bg-2: #38456C;


$body-bg: $demo-bg-1;
$text-color: #7F859E;
$jumbotron-bg: #48527B;


@import "navbar.scss";


$panel-bg: $demo-bg-2;

$header-border-color: $jumbotron-bg;
$footer-border-color: $header-border-color;

$link-color: #818F25;


$btn-primary-bg: #5A6CA1;
$btn-primary-border: #79839F;

$input-bg: #4362A2;
$input-color: $demo-fg-1;
$input-border: #79839F;
