<div class="jumbotron">
  <h1>About</h1>

  <h3 class="text-justify">This is an
    <a href="https://angularjs.org">AngularJS</a>

    based front-end demo application. It was scaffolded by
    <a href="http://yeoman.io">yeoman</a>
    <a href="https://github.com/yeoman/generator-angular#readme">angular generator</a>.
  </h3>
  <h3 class="text-justify">
    It uses:
    <ul>
      <li>
        <a href="http://bower.io">bower</a>
        for managing client side dependencies such as angular (core and different modules),
      </li>
      <li>
        <a href="http://getbootstrap.com">bootstrap</a> (with sass) for styling,
      </li>
      <li>
        <a href="http://gruntjs.com">grunt</a> for building the app and executing other tasks,
      </li>
      <li>
        <a href="http://karma-runner.github.io/0.13/index.html">Karma</a> for driving the test engine,
      </li>
      <li>
        <a href="http://jasmine.github.io/">Jasmine</a> the test engine itself.
      </li>
    </ul>
  </h3>

  Its source is available at <a href="https://bitbucket.org/urss-share/demo-angular-front-end">Bitbucket</a>
  {{abouttxt.datetime  | date:"yyyy-MM-dd HH:mm:ss Z"}}
</div>


