
<script type="text/ng-template" id="nodes_renderer.html">
  <div ui-tree-handle class="tree-node tree-node-content" data-nodrag >
    <a class="btn btn-success btn-xs" ng-if="node.ancestors && node.ancestors.length > 0" data-nodrag ng-click="toggle(this)"><span
        class="glyphicon"
        ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span></a>
    {{node.author}} - {{node.datetime | date:"yyyy-MM-dd HH:mm:ss Z"}}
    <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="showInput = !showInput" style="margin-right: 8px;" ng-show="loggedinuser != node.author"><span
        class="glyphicon glyphicon-comment"></span></a>

    <p>
      {{node.message}}
    </p>
    <div class="input-group input-group-sm" ng-show="showInput">
      <input type="text" class="form-control" ng-model="newMsg" placeholder="Type your message" />
      <span class="input-group-btn">
        <button class="btn btn-primary" data-nodrag ng-click="newSubItem(this); showInput = false;" >
          <span class="glyphicon glyphicon-ok" ></span>
        </button>
      </span>
    </div>
  </div>
  <ol ui-tree-nodes="" ng-model="node.ancestors" ng-class="{hidden: collapsed}">
    <li ng-repeat="node in node.ancestors" ui-tree-node ng-include="'nodes_renderer.html'">
    </li>
  </ol>
</script>

<div class="input-group input-group-sm">
  <input type="text" class="form-control" ng-model="newMsg" placeholder="Type your message" />
  <span class="input-group-btn">
    <button class="btn btn-primary" ng-click="saveMessage(newMsg)">
      <span class="glyphicon glyphicon-ok" ></span>
    </button>
  </span>
</div>

<div ng-show="loading">
  loading ...
</div>
<div class="row marketing" ng-hide="loading">
  <div ui-tree>
    <ol ui-tree-nodes ng-model="messages">
      <li ng-repeat="node in messages" ui-tree-node ng-include="'nodes_renderer.html'"></li>
    </ol>
  </div>
</div>
