<div class="panel panel-info">
	<div class="panel-heading">
		Add new message
	</div>
	<div class="panel-body">
		<form>
			<div class="form-group">
				<input type="text" class="form-control" ng-model="title" placeholder="Title" required/>
				<textarea rows="5" class="form-control" ng-model="description" placeholder="Description" required/>
				<button class="btn btn-primary pull-right" ng-click="save(this);" >
				    <span>Save</span>
	    		</button>
			</div>
		</form>
	</div>
</div>

<div ng-repeat="todo in todos" >
   	<div class="panel panel-primary">
      	<a class="pull-right btn btn-danger btn-xs" ng-click="" ng-show="true">
      		<span class="glyphicon glyphicon-trash"></span>
      	</a>
      	<a class="pull-right btn btn-warning btn-xs" ng-click="" ng-show="true">
      		<span class="glyphicon glyphicon-edit"></span>
      	</a>
  		<div class="panel-heading">{{todo.title}}</div>
  		<div class="panel-body">
			{{todo.description}}
		</div>
  	</div>
</div>
